<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="LOG_DIR" value="/logs/steve-trains-service"/>
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS, Asia/Kolkata} [%X{trace-id}] %highlight(%-5level) --- [%t] %highlight(%C{1}) : %m%n
            </pattern>
        </encoder>
    </appender>

    <appender name="SPRING_LOG_APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/steve-trains-service-${hostname}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/steve-trains-service-${hostname}-%d{yyyy-MM-dd, Asia/Kolkata}.log</fileNamePattern>
        </rollingPolicy> %d{yyyy-MM-dd, Asia/Kolkata}
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS, Asia/Kolkata} [%X{trace-id}] %5p --- %C{1} : %m%n</pattern>
        </encoder>
    </appender>


    <logger name="com.trains" level="debug">
        <appender-ref ref="SPRING_LOG_APPENDER"/>
    </logger>

    <logger name="org.springframework" level="INFO">
        <appender-ref ref="SPRING_LOG_APPENDER"/>
    </logger>

    <logger name="org.apache" level="error">
        <appender-ref ref="SPRING_LOG_APPENDER"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>